* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

html body {
    background: linear-gradient(to right bottom, #7c66a5eb, #4b9493eb) 50% fixed;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.calculator {
    padding: 20px;
    border-radius: 15px;
    height: 500px;
    width: 450px;
    margin: auto;
    background-color: #222329;
    box-shadow: 2px 2px 5px rgb(46, 46, 64);
}

.displayer {
    text-align: right;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid #222329 10px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

button {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    background-color: #597cac;
    color: white;
    border: solid #222329 10px;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    outline: none;
    cursor: pointer;
}

button[value="C"],
button[value="="] {
    background-color: #dfa72f;
}

button[value="C"]:active,
button[value="="]:active {
    background-color: #f3cf81;
}

button[value="="] {
    border-radius: 40px;
}

button:active {
    background: #98bef1;
}

footer {
    font-size: 0.9rem;
    color: #fff;
}

footer a {
    border-bottom: 1px solid #f3cf81;
}

footer a:hover {
    color:#f3cf81;
}