@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

html body {
    background: linear-gradient(to right bottom, #7c66a5eb, #4b9493eb) 50% fixed;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
}

.calculator {
    max-width: 400px;
    height: fit-content;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    background-color: #222329;
    box-shadow: 2px 2px 10px rgba(41, 41, 41, 0.627);
}

.displayer {
    font-family: 'VT323', monospace;
    font-size: 3rem;
    background-color: #dcdbe1;
    color: #000;
    width: 100%;
    text-align: right;
}

.display-container {
    width: auto;
    padding: 4px 10px;
    position: relative;
    font-family: 'VT323', monospace;
    font-size: 3rem;
    overflow: hidden;
    text-transform: uppercase;
}

.welcome {
    min-width: max-content;
    display: inline;
    height: 0;
    position: absolute;
    margin: auto;
    transform: translateX(400px);
    transition: transform 11s linear;
    text-align: left;
}

.welcome.start {
    transform: translateX(-100%);
    transition: transform 11s linear;
}

.calculator tr td {
    padding: 5px;
}

.calculator button,
.calculator input {
    border-radius: 10px;
}

button {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    background-color: #597cac;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    height: 100%;
    outline: none;
    cursor: pointer;
}

button[value="C"],
button[value="="] {
    background-color: #dfa72f;
}

button[value="C"]:active,
button[value="="]:active {
    background-color: #f3cf81;
}

button:active {
    background: #98bef1;
}

footer {
    width: 100%;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
}

footer a {
    border-bottom: 1px solid #f3cf81;
}

footer a:hover {
    color: #f3cf81;
}